networks:
  mediarr:
    driver: bridge
  transmission:
    name: transmission
    external: true
  dokploy-network:
    name: dokploy-network
    external: true

volumes:
  media:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${MEDIA_DRIVE}
  media2:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${MEDIA_DRIVE_2}

services:
  # jellyfin:
  #   image: jellyfin/jellyfin
  #   pull_policy: always
  #   devices:
  #     - /dev/dri/renderD128:/dev/dri/renderD128
  #   environment:
  #     - PUID=${PUID}
  #     - PGID=${PGID}
  #     - UMASK=${UMASK}
  #     - TZ=${TZ}
  #     - JELLYFIN_CACHE_DIR=/var/cache/jellyfin
  #     - JELLYFIN_CONFIG_DIR=/etc/jellyfin
  #     - JELLYFIN_DATA_DIR=/var/lib/jellyfin
  #     - JELLYFIN_LOG_DIR=/var/log/jellyfin
  #   ports:
  #     - 6565:8080
  #   networks:
  #     - mediarr
  #   volumes:
  #     - ${CONFIG_DIR}/jellyfin/etc:/etc/jellyfin
  #     - ${CONFIG_DIR}/jellyfin/var-cache:/var/cache/jellyfin
  #     - ${CONFIG_DIR}/jellyfin/var-lib:/var/lib/jellyfin
  #     - ${CONFIG_DIR}/jellyfin/var-log:/var/log/jellyfin
  #     - media:/mnt/media
  #   restart: unless-stopped
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    pull_policy: always
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    # ports:
    #   - 6767:6767
    networks:
      - mediarr
      - dokploy-network
    volumes:
      - ${CONFIG_DIR}/bazarr:/config
      - media:/data/
      - media2:/data2/
    depends_on:
      - sonarr
      - radarr
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.docker.network: dokploy-network
      traefik.http.routers.media-server-bazarr-web.entrypoints: web
      traefik.http.routers.media-server-bazarr-web.middlewares: redirect-to-https@file,local-network-ipallowlist@file
      traefik.http.routers.media-server-bazarr-web.rule: Host(`bazarr.${DOMAIN}`)
      traefik.http.routers.media-server-bazarr-web.service: media-server-bazarr-web
      traefik.http.routers.media-server-bazarr-websecure.middlewares: local-network-ipallowlist@file
      traefik.http.routers.media-server-bazarr-websecure.entrypoints: websecure
      traefik.http.routers.media-server-bazarr-websecure.rule: Host(`bazarr.${DOMAIN}`)
      traefik.http.routers.media-server-bazarr-websecure.service: media-server-bazarr-websecure
      traefik.http.routers.media-server-bazarr-websecure.tls.certresolver: dns-cloudflare
      traefik.http.services.media-server-bazarr-web.loadbalancer.server.port: 6767
      traefik.http.services.media-server-bazarr-websecure.loadbalancer.server.port: 6767
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    pull_policy: always
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    # ports:
    #   - 5055:5055
    networks:
      - mediarr
      - dokploy-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ${CONFIG_DIR}/jellyseerr:/app/config
      - media:/data/
      - media2:/data2/
    depends_on:
      - sonarr
      - radarr
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.docker.network: dokploy-network
      traefik.http.routers.media-server-jellyseerr-web.entrypoints: web
      traefik.http.routers.media-server-jellyseerr-web.middlewares: redirect-to-https@file,local-network-ipallowlist@file
      traefik.http.routers.media-server-jellyseerr-web.rule: Host(`jellyseerr.${DOMAIN}`)
      traefik.http.routers.media-server-jellyseerr-web.service: media-server-jellyseerr-web
      traefik.http.routers.media-server-jellyseerr-websecure.middlewares: local-network-ipallowlist@file
      traefik.http.routers.media-server-jellyseerr-websecure.entrypoints: websecure
      traefik.http.routers.media-server-jellyseerr-websecure.rule: Host(`jellyseerr.${DOMAIN}`)
      traefik.http.routers.media-server-jellyseerr-websecure.service: media-server-jellyseerr-websecure
      traefik.http.routers.media-server-jellyseerr-websecure.tls.certresolver: dns-cloudflare
      traefik.http.services.media-server-jellyseerr-web.loadbalancer.server.port: 5055
      traefik.http.services.media-server-jellyseerr-websecure.loadbalancer.server.port: 5055
  prowlarr:
    image: linuxserver/prowlarr:latest
    pull_policy: always
    # ports:
    #   - 9696:9696
    networks:
      - mediarr
      - dokploy-network
    volumes:
      - ${CONFIG_DIR}/prowlarr:/config
    depends_on:
      - flaresolverr
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.docker.network: dokploy-network
      traefik.http.routers.media-server-prowlarr-web.entrypoints: web
      traefik.http.routers.media-server-prowlarr-web.middlewares: redirect-to-https@file,local-network-ipallowlist@file
      traefik.http.routers.media-server-prowlarr-web.rule: Host(`prowlarr.${DOMAIN}`)
      traefik.http.routers.media-server-prowlarr-web.service: media-server-prowlarr-web
      traefik.http.routers.media-server-prowlarr-websecure.middlewares: local-network-ipallowlist@file
      traefik.http.routers.media-server-prowlarr-websecure.entrypoints: websecure
      traefik.http.routers.media-server-prowlarr-websecure.rule: Host(`prowlarr.${DOMAIN}`)
      traefik.http.routers.media-server-prowlarr-websecure.service: media-server-prowlarr-websecure
      traefik.http.routers.media-server-prowlarr-websecure.tls.certresolver: dns-cloudflare
      traefik.http.services.media-server-prowlarr-web.loadbalancer.server.port: 9696
      traefik.http.services.media-server-prowlarr-websecure.loadbalancer.server.port: 9696
  jackett:
    image: lscr.io/linuxserver/jackett:latest
    pull_policy: always
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
      - AUTO_UPDATE=true
      - RUN_OPTS=
    networks:
      - mediarr
      - dokploy-network
    volumes:
      - ${CONFIG_DIR}/jackett:/config
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.docker.network: dokploy-networks
      traefik.http.routers.media-server-jackett-web.entrypoints: web
      traefik.http.routers.media-server-jackett-web.middlewares: redirect-to-https@file,local-network-ipallowlist@file
      traefik.http.routers.media-server-jackett-web.rule: Host(`jackett.${DOMAIN}`)
      traefik.http.routers.media-server-jackett-web.service: media-server-jackett-web
      traefik.http.routers.media-server-jackett-websecure.middlewares: local-network-ipallowlist@file
      traefik.http.routers.media-server-jackett-websecure.entrypoints: websecure
      traefik.http.routers.media-server-jackett-websecure.rule: Host(`jackett.${DOMAIN}`)
      traefik.http.routers.media-server-jackett-websecure.service: media-server-jackett-websecure
      traefik.http.routers.media-server-jackett-websecure.tls.certresolver: dns-cloudflare
      traefik.http.services.media-server-jackett-web.loadbalancer.server.port: 9117
      traefik.http.services.media-server-jackett-websecure.loadbalancer.server.port: 9117
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    pull_policy: always
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
    networks:
      - mediarr
    restart: unless-stopped
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    pull_policy: always
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    # ports:
    #   - 7878:7878
    networks:
      - mediarr
      - transmission
      - dokploy-network
    volumes:
      - ${CONFIG_DIR}/radarr:/config
      - media:/data/
      - media2:/data2/
    depends_on:
      - prowlarr
      # - jellyfin
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.docker.network: dokploy-network
      traefik.http.routers.media-server-radarr-web.entrypoints: web
      traefik.http.routers.media-server-radarr-web.middlewares: redirect-to-https@file,local-network-ipallowlist@file
      traefik.http.routers.media-server-radarr-web.rule: Host(`radarr.${DOMAIN}`)
      traefik.http.routers.media-server-radarr-web.service: media-server-radarr-web
      traefik.http.routers.media-server-radarr-websecure.middlewares: local-network-ipallowlist@file
      traefik.http.routers.media-server-radarr-websecure.entrypoints: websecure
      traefik.http.routers.media-server-radarr-websecure.rule: Host(`radarr.${DOMAIN}`)
      traefik.http.routers.media-server-radarr-websecure.service: media-server-radarr-websecure
      traefik.http.routers.media-server-radarr-websecure.tls.certresolver: dns-cloudflare
      traefik.http.services.media-server-radarr-web.loadbalancer.server.port: 7878
      traefik.http.services.media-server-radarr-websecure.loadbalancer.server.port: 7878
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    pull_policy: always
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    # ports:
    #   - 8989:8989
    networks:
      - mediarr
      - transmission
      - dokploy-network
    volumes:
      - ${CONFIG_DIR}/sonarr:/config
      - media:/data/
      - media2:/data2/
    depends_on:
      - prowlarr
      # - jellyfin
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.docker.network: dokploy-network
      traefik.http.routers.media-server-sonarr-web.entrypoints: web
      traefik.http.routers.media-server-sonarr-web.middlewares: redirect-to-https@file,local-network-ipallowlist@file
      traefik.http.routers.media-server-sonarr-web.rule: Host(`sonarr.${DOMAIN}`)
      traefik.http.routers.media-server-sonarr-web.service: media-server-sonarr-web
      traefik.http.routers.media-server-sonarr-websecure.middlewares: local-network-ipallowlist@file
      traefik.http.routers.media-server-sonarr-websecure.entrypoints: websecure
      traefik.http.routers.media-server-sonarr-websecure.rule: Host(`sonarr.${DOMAIN}`)
      traefik.http.routers.media-server-sonarr-websecure.service: media-server-sonarr-websecure
      traefik.http.routers.media-server-sonarr-websecure.tls.certresolver: dns-cloudflare
      traefik.http.services.media-server-sonarr-web.loadbalancer.server.port: 8989
      traefik.http.services.media-server-sonarr-websecure.loadbalancer.server.port: 8989
  shoko:
    image: ghcr.io/shokoanime/server:latest
    pull_policy: always
    shm_size: 256m
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    ports:
      - 8111:8111
    networks:
      - mediarr
      - dokploy-network
    volumes:
      - ${CONFIG_DIR}/shoko:/home/shoko/.shoko
      - media:/mnt/media
      - media2:/mnt/media2
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.docker.network: dokploy-network
      traefik.http.routers.media-server-shoko-web.entrypoints: web
      traefik.http.routers.media-server-shoko-web.middlewares: redirect-to-https@file,local-network-ipallowlist@file
      traefik.http.routers.media-server-shoko-web.rule: Host(`shoko.${DOMAIN}`)
      traefik.http.routers.media-server-shoko-web.service: media-server-shoko-web
      traefik.http.routers.media-server-shoko-websecure.middlewares: local-network-ipallowlist@file
      traefik.http.routers.media-server-shoko-websecure.entrypoints: websecure
      traefik.http.routers.media-server-shoko-websecure.rule: Host(`shoko.${DOMAIN}`)
      traefik.http.routers.media-server-shoko-websecure.service: media-server-shoko-websecure
      traefik.http.routers.media-server-shoko-websecure.tls.certresolver: dns-cloudflare
      traefik.http.services.media-server-shoko-web.loadbalancer.server.port: 8111
      traefik.http.services.media-server-shoko-websecure.loadbalancer.server.port: 8111
  homarr:
    container_name: homarr
    image: ghcr.io/homarr-labs/homarr:latest
    pull_policy: always
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
      - SECRET_ENCRYPTION_KEY=${SECRET_ENCRYPTION_KEY}
    # ports:
    #   - 7575:7575
    networks:
      - mediarr
      - transmission
      - dokploy-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${CONFIG_DIR}/homarr/appdata:/appdata
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.docker.network: dokploy-network
      traefik.http.routers.media-server-homarr-web.entrypoints: web
      traefik.http.routers.media-server-homarr-web.middlewares: redirect-to-https@file,local-network-ipallowlist@file
      traefik.http.routers.media-server-homarr-web.rule: Host(`homarr.${DOMAIN}`)
      traefik.http.routers.media-server-homarr-web.service: media-server-homarr-web
      traefik.http.routers.media-server-homarr-websecure.middlewares: local-network-ipallowlist@file
      traefik.http.routers.media-server-homarr-websecure.entrypoints: websecure
      traefik.http.routers.media-server-homarr-websecure.rule: Host(`homarr.${DOMAIN}`)
      traefik.http.routers.media-server-homarr-websecure.service: media-server-homarr-websecure
      traefik.http.routers.media-server-homarr-websecure.tls.certresolver: dns-cloudflare
      traefik.http.services.media-server-homarr-web.loadbalancer.server.port: 7575
      traefik.http.services.media-server-homarr-websecure.loadbalancer.server.port: 7575
