volumes:
  media:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${MEDIA_DRIVE}
  media2:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${MEDIA_DRIVE_2}
  media3:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${MEDIA_DRIVE_3}

networks:
  transmission:
    name: transmission
    driver: bridge
    attachable: true

services:
  transmission:
    image: haugene/transmission-openvpn
    env_file: .env
    cap_add:
      - NET_ADMIN
    networks:
      - transmission
    volumes:
      - media:/data/
      - media2:/data2/
      - media3:/data3/
      - /docker/transmission/openvpn/:/etc/openvpn/custom/
      - /docker/transmission/config/:/config/
    environment:
      - OPENVPN_PROVIDER=custom
      - OPENVPN_CONFIG=de-ber-udp
      - LOCAL_NETWORK=192.168.1.0/24
      - TRANSMISSION_WEB_UI=flood-for-transmission
    ports:
      - 9091:9091
    restart: unless-stopped
